@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-new-pink: #EBB9FF;
    --color-new-dark-pink: #BF9DC4;
    --color-new-dark-purple: #9D48BF;
    --color-new-purple: #A785D7;
    --color-new-ithinkimcolorblind: #9C6BAD;
}
body {
    font-family: 'Itim', sans-serif;
    background-image: url(../background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}